body {
	font-family: 'Work Sans', sans-serif;
	/*
	background: url(photos/home.jpg) no-repeat center center fixed;
	background-size: cover;
	*/

	margin: 0 -20px 0 -20px;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 5em;
	font-weight: bold;
	box-shadow: 0px 10px rgba(31, 92, 153, 0.7);
	margin-right: 30%;
}

#main_row{
	/* background-color: rgba(255, 255, 255, 0.2); */
	padding: 2%;
	width: 100%;
	height: auto;
}


#main {
	position: relative;
}

.row {
	position: absolute;
	width: 100%;
}

#txt_conditions {
	padding-top: 5%;
	padding-left: 5%;
}

#userZip {
	width: 100%;
	border-style: none;
}

#checkBtn {
	width: 100%;
	background-color: rgba(255,255,255, 0.5);
	color: rgba(0,0,0, 0.7);
	border-style: none;
	font-weight: 500;
}

#checkBtn:hover {
	background-color: rgba(255,255,255, 0.6);
	/* transform: scale(1.05); */
}





